.flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-sa-c {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-sb-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-sa {
  display: flex;
  align-items: center;
}
.flex--c {
  display: flex;
  align-items: center;
}
.flex-c-c-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex--c-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
