html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-family: 微软雅黑, 黑体, Helvetica, Arial, Tahoma, sans-serif;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
body {
  line-height: 1.5;
  font-size: 0.28rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto !important;
}
body,
html {
  background: var(--background-color);
}
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  word-break: normal;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
a,
img,
input {
  -webkit-tap-highlight-color: transparent;
}
input {
  -webkit-user-modify: read-write-plaintext-only;
  border: 0;
  outline: medium;
}
input,
option,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0 none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
li,
ol,
ul {
  list-style: none;
}
a,
ins {
  text-decoration: none;
}
mark {
  background: 0 0;
}
textarea {
  resize: none;
}
img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  text-decoration: none;
}
b,
em,
i,
li {
  font-style: normal !important;
}
